{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<div class="jumbotron">
    <h5 class="text-center pt-5">Add Address</h5>
        <div class="form-group row justify-content-center">
                <form method="post">{% csrf_token %}
                    {{ form|crispy }}
                    <br>
                  <button class="btn btn-success ml-2" type="submit">Save</button>
                    <a href="{% url 'RentalApp:item_list' %}" class="btn btn-secondary ml-2">
                    Cancel</a>
                </form>
        </div>
</div>
{% endblock content %}