{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}
 <div id="login">
    <h5 class="text-center pt-5">Add Address</h5>
    <div id="login-row" class="row justify-content-center align-items-center">
        <div id="login-column" class="col-md-6">
            <div id="login-box" class="col-md-12">
                <form method="post" id="login-form" class="form">{% csrf_token %}
                    {{ form|crispy }}
                    <br>
                  <button class="btn btn-success ml-2" type="submit">Save</button>
                    <a href="{% url 'RentalApp:item_list' %}" class="btn btn-secondary ml-2">
                    Cancel</a>
                </form>
            </div>
        </div>
    </div>
 </div>
{% endblock content %}