{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}
 <div class="jumbotron">
    <h5 class="text-center pt-5">Add Product</h5>
    <div class="form-group row justify-content-center">
        <form action="" method="post" id="login-form" enctype="multipart/form-data" class="form">{% csrf_token %}
          {{ form|crispy }}
            <br>
            <div id='backend_upload'>
                <form action="" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ backend_form }}
                    <input class="btn btn-success ml-2" type="submit" value="Save">
                    <a href="{% url 'RentalApp:my_products' %}" class="btn btn-secondary ml-2">Cancel</a>
                </form>
            </div>
        </form>
    </div>
 </div>
{% endblock content %}