{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}
 <div id="login">
    <h5 class="text-center pt-5">Add Product</h5>
    <div id="login-row" class="row justify-content-center align-items-center">
        <div id="login-column" class="col-md-6">
            <div id="login-box" class="col-md-12">
                <form action="" method="post" id="login-form" enctype="multipart/form-data" class="form">{% csrf_token %}
                  {{ form|crispy }}


                    <br>


                    <div id='backend_upload'>
    <form action="{% url "photo_album.views.upload" %}" method="post"
          enctype="multipart/form-data">
      {% csrf_token %}
      {{ backend_form }}
      <input type="submit" value="Upload">
    </form>
  </div>


                  <button class="btn btn-success ml-2" type="submit">Save</button>
                    <a href="{% url 'RentalApp:my_products' %}" class="btn btn-secondary ml-2">
                    Cancel</a>
                </form>
            </div>
        </div>
    </div>
 </div>
{% endblock content %}