<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Rental History Pdf</title>
    <style>
        @page{
            size: A4;
            margin: 2.5cm 1.5cm 3.5cm 1.5cm;

            @top-center {
                content :"Kiray"
            }
        }
    </style>
</head>

<body>
  <img src="{% static 'images/logo.png' %}" height="60" width="80" alt="Rental System" class="d-inline-block align-middle mr-2">
</body>
</html>