{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<div class="jumbotron">
    <h5 class="text-center pt-5">End Rent</h5>
    <div class="form-group row justify-content-center">
                <form action="" method="post">{% csrf_token %}
                    {{ form|crispy }}
                    <div id="costDiv" style="display:none;"><p>Total Rent amount: {{object.totalCost}}</p></div>
                    <button class="btn btn-success ml-2" id="endbtn" type="submit" onclick="show()">Save</button>
                    <a href="{% url 'RentalApp:rental_history' %}" class="btn btn-secondary ml-2">
                    Cancel</a>
                </form>
    </div>
</div>
<script>
function show() {
document.getElementById('endbtn').style.display = none;
   document.getElementById('costDiv').style.display = "block";
}
</script>
{% endblock content %}