{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<div class="jumbotron">
    <h5 class="text-center pt-5">Rent Item</h5>
    <div class="form-group row justify-content-center">
                <form method="post" id="login-form" class="form">{% csrf_token %}
                    {{ form|crispy }}
                    <br>
                  <button class="btn btn-success ml-2" type="submit">Start</button>
                    <a href="{% url 'RentalApp:rental_history' %}" class="btn btn-secondary ml-2">
                    Cancel</a>
                </form>
    </div>
 </div>
{% endblock content %}